test/rng_simplification_data/step4/basic.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"><element name="a" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"><element name="b"><element name="c" datatypeLibrary=""><value type="string">moo</value></element><element name="d"><list><value type="string">  </value><value>moo</value></list></element><element name="e"><list><data type="string"/></list></element></element></element></grammar>
