test/multiple_missing_attributes/multiple-missing-attributes.rnc

default namespace = ""
namespace rng = "http://relaxng.org/ns/structure/1.0"

start = html
html = element html { (text | em)+ }
em = element em {
   attribute attr-a {text},
   attribute attr-b {text},
   attribute attr-c {text},
   foo, ((bar, baz) | baz)
}
foo = element foo { empty }
bar = element bar { empty }
baz = element baz { empty }
