test/one_or_more_not_satisfied/one_or_more_not_satisfied.rnc

default namespace = ""
namespace rng = "http://relaxng.org/ns/structure/1.0"

start = html
html =
  element html {
    (head, body),
    attribute style { text }
  }
head = element head { title }
title = element title { text }
body = element body { empty | (text | em)+ }
em = element em { b+ }
b = element b { text }
