test/additionalSpectest/testX001/correct.rng

<?xml version="1.0"?>
<element xmlns="http://relaxng.org/ns/structure/1.0" name="foo">
  <interleave>
    <attribute name="a"/>
    <choice>
      <attribute name="b"/>
      <attribute name="c"/>
      <group>
        <attribute name="b"/>
        <text/>
      </group>
    </choice>
  </interleave>
</element>
