test/inclusion/doc-unannotated.rnc

default namespace = "http://mangalamresearch.org/ns/mmwp/doc"

wordUnnumbered = element word {
    attribute lem { text }?,
    text
}

include "doc-common.rnc" {
    # We allow cit to contain a single sentence with numbered words. Or
    # a collection of unnumbered words.
    cit.content = ((s | (wordUnnumbered | text)+), tr?)
    word.attrs = (
      attribute id { xsd:positiveInteger }?,
      attribute lem { text }?
    )
}

start = doc
