test/spectest/test286/incorrect1.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
<start>
  <element name="foo">
    <attribute name="bar">
      <choice>
        <element name="baz">
          <empty/>
        </element>
        <text/>
      </choice>
    </attribute>
  </element>
</start>
</grammar>
