test/additionalSpectest/testX004/correct.rng

<?xml version="1.0"?>
<element xmlns="http://relaxng.org/ns/structure/1.0" name="foo">
  <choice>
    <element name="a">
      <element name="b">
        <empty/>
      </element>
      <element name="c">
        <empty/>
      </element>
    </element>
    <element name="a">
      <element name="b">
        <empty/>
      </element>
      <text/>
    </element>
  </choice>
</element>
