test/choice_ended_by_following_item/choice_ended_by_following_item.rnc

default namespace = ""
namespace rng = "http://relaxng.org/ns/structure/1.0"

start = html
html =
  element html {
    (head, body),
    attribute style { text }
  }
head = element head { title }
title = element title { text }
body = element body { empty | (text | em)+ }
em = element em { (b | em),  i}
b = element b { text }
i = element i { text }
