test/rng_simplification_data/step16/add_define_to_elements_out.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"><ref name="__foo-elt-1"/><define name="__foo-elt-1"><element><name>foo</name><ref name="__bar-elt-2"/></element></define><define name="__bar-elt-2"><element><name>bar</name><ref name="__-elt-3"/></element></define><define name="__-elt-3"><element><anyName/></element></define></grammar>
