test/rng_simplification_data/step16/remove_unused_defines.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"><start><element><name>foo</name><ref name="a"/><ref name="c"/></element></start><define name="a"><element><name>q</name><empty/></element></define><define name="b"><attribute><name>b</name><text/></attribute></define><define name="c"><ref name="d"/></define><define name="d"><ref name="e"/></define><define name="e"><element><name>e</name><empty/></element></define></grammar>
